.modal {
    display: none; /* La modal est cachée par défaut */
    position: fixed; /* Reste en place même lors du défilement */
    z-index: 1; /* Se situe au-dessus du contenu */
    left: 0;
    top: 0;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Permet le défilement si nécessaire */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Peut être ajusté */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}